body {
    background: #fffafa;
    color: #000000;
    font-family: Georgia, Times New Roman;
    font-size: 16px;
    }

header {
    background: #968f74;
    height: 100px;
    width: 100%;
    text-align: center;
    }

aside {
    background: #b0a782;
    float: left;
    width: 10%;
    width: 220px;
    height: 600px;
    text-align: center;
    }
aside2 {
    background: #b0a782;
    float: right;
    width: 10%;
    width: 220px;
    height: 600px;
    text-align: center;
    }

#content {
    background: #dbd6b0;
    float: center;
    height: 600px;
    width: 90%;
    }