body {
    background: #fffafa;
    color: #000000;
    font-family: Georgia, Times New Roman;
    font-size: 16px;
    }

header {
    background: #74a4a6;
    height: 100px;
    width: 100%;
    text-align: center;
    }

aside {
    background: #a3c8ca;
    float: left;
    width: 10%;
    width: 220px;
    height: 600px;
    text-align: center;
    }
aside2 {
    background: #a3c8ca;
    float: right;
    width: 10%;
    width: 220px;
    height: 600px;
    text-align: center;
    }

#content {
    background: rgb(200, 213, 214);
    float: center;
    height: 600px;
    width: 90%;
    }